*{margin: 0;
    padding: 0;
    boz-sixing: border-box;

}
.grid-children{
    margin: 10px;
    padding: 30px;
    border: 1px solid black;
}
.grid-template {
    display: grid;

    grid-template-columns:repeat(10,30%);
    grid-template-rows:30% 30% 30%;

}
.grid-children:nth-child(2n+1){
    background: aqua;

}
.grid-children-3 {
    grid-column-start: ;
}